/*основной цвет текста #757575*/

/*акцент #2196f3*/

/*белый #ffffff; #ffffff 60%;*/

/*вторичный цвет  #212121;*/

/*цвета фонов  
1 background: #FFFFFF;
2 background: #2F303A;
3 background: #E5E5E5; 
4 background: #F5F4FA;
5 background: #2F303A;
*/
/*обнуления для списков*/
.list  {
  list-style-type: none; 
}

/*header*/
.logo {
  text-decoration-line: none;
  color:#212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.site-nav .link {
  text-decoration-line: none;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.auth-nav .link-auth {
  text-decoration: none;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-size: 14px;
}
.logo-span:hover,
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link-auth:hover,
.auth-nav .link-auth:focus {
  color:#2196f3;

  /* main*/